 /* #region 粗 */

 /* #endregion */

 /*最外層 包含了箭頭 */
 #boxbox {
     display: flex;
     /* 水平置中 */
     justify-content: center;
     /* 垂直置中 */
     align-items: center;
     position: relative;
     height: 100%;


 }

 * {
     box-sizing: border-box;
 }

 #put::placeholder {


     color: rgba(34, 34, 34, 0.5);

 }

 /* 輸入框 */
 #put {
     font-size: 20px;
     width: 100%;
     height: 35px;
     flex: 1;
     border: 1px rgb(58, 56, 56) solid;
     margin-top: 5px;
     background-color: rgb(34, 34, 34);
     color: aliceblue;
 }

 #calc:active {
     background-color: rgb(136, 132, 132);

 }

 #calc {
     margin-top: 5px;
     background-color: rgb(54, 54, 54);
     border: 1px rgb(58, 56, 56) solid;
     background-color: rgb(34, 34, 34);
     color: rgb(222, 240, 255);


 }

 body {
     margin: 0;
     font-family: 'Open Sans', sans-serif;
 }

 /* 計算機鍵盤 */
 #box {
     position: relative;
     max-width: 500px;
     background-color: rgb(236, 236, 236);
     width: 100%;
     height: 100%;
     margin: auto;

     bottom: 0;
     border: 0.5px solid rgba(7, 6, 6, 0.942);



 }

 #ac {
     color: rgb(9 216 255);
 }

 .item {

     width: calc(100% / 4);
     height: calc(100% / 5);
     border: 0.5px solid rgba(77, 73, 73, 0.575);
     /* outline: 1px solid rgb(76, 65, 65); */
     color: rgb(58, 60, 63);
     /* background-color: rgb(37, 37, 38); */
     float: left;
     display: flex;
     /* 水平置中 */
     justify-content: center;
     /* 垂直置中 */
     align-items: center;
     font-size: 35px;
     font-weight: 900;
     background-color: black
 }

 #delete {
/* 
     background-image: url(./delete.svg);
     background-size: 36px auto;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center center; */

 }

 /*箭頭 */
 #noDis {
     background-image: url(./keyboard.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 36px auto;


     height: 60px;
     /* 父親 position: relative; */
     /* 相對定位 */
     position: absolute;
     top: -60px;

     text-align: center;
     width: 120px;
     border: 0.5px solid rgba(77, 73, 73, 0.575);

     font-size: 30px;
     color: rgb(0, 74, 134);
 }

 /* #change {
     background-color: aliceblue;
     height: 60px;
      父親 position: relative; 
      相對定位 
     position: absolute;
     right: 0;
     top: -60px;

     text-align: center;
     width: 120px;
     border: 0.5px solid rgba(77, 73, 73, 0.575);

     font-size: 30px;
     color: rgb(0, 74, 134); } */

 /* 輸入框的外層 */
 #putbox {
     max-width: 500px;
     width: 100%;
     margin: auto;
     display: flex;
     flex-direction: row;
 }

 .d1 {
     background-color: rgb(45, 45, 46);
     position: fixed;
     height: 50px;
     left: 0;
     right: 0;
 }

 #d2 {

     /* 讓子元素由左至右由上而下 
      display: flex;
     flex-wrap: wrap; */
     background-color: rgb(45, 45, 46);

     position: fixed;
     left: 0;
     right: 0;
     bottom: 300px;
     top: 50px;
     align-items: flex-start;
     justify-content: flex-start;
     align-content: flex-start;
     overflow-y: auto;
     overflow-x: hidden;

 }

 #d2[dd="close"] {
     bottom: 0px;
 }

 #d3 {
     background-color: rgb(45, 45, 46);
     position: fixed;
     height: 300px;
     bottom: 0;
     left: 0;
     right: 0;
 }

 #d3[data-state="close"] {
     height: 0px;
 }

 .gg {
     /* background-color: rgb(120, 131, 141); */
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     height: auto;
     font-size: 30px;
     /* margin: 5px;  */
     position: relative;
     padding: 0px;

 }

 .up {
     color: rgb(160, 159, 159);
     font-size: 20px;
 }

 .down {
     color: rgb(224, 224, 224);



 }

 .delete {
     width: 30px;
     height: 30px;
     background-color: rgb(94, 88, 88);
     color: rgb(196, 210, 223);
     font-size: 15px;
     text-align: center;
     position: absolute;
     right: 0;
     top: 0;

 }

 .delete:hover {
     background-color: rgb(238, 0, 0);
     color: rgb(255, 255, 255);

 }